<link rel="stylesheet" href="css/style.css" type="text/css">


<form action="/sendWaves" method="POST">
<div class="unapp login">
<div class="login-screen">
<div class="app-title">
  <h1>WAVES Faucet</h1>
<h3>Enter Your Address </h3>
</div>
<div class="login-form">
<div class="control-group">
  <input type="text" class="login-field" value="" placeholder="3M*********************************" name="address">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<br />
<br />

<input type="submit" value="Get faucet" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>


<form action="/sendUsdn" method="POST">
  <div class="unapp login">
  <div class="login-screen">
  <div class="app-title">
    <h1>USDN Faucet</h1>
  <h3>Enter Your Address </h3>
  </div>
  <div class="login-form">
  <div class="control-group">
    <input type="text" class="login-field" value="" placeholder="3M*********************************" name="address">
  <label class="login-field-icon fui-user" for="login-name"></label></div>
  <br />
  <br />
  
  <input type="submit" value="Get faucet" class="btn btn-primary btn-large btn-block">
  
  </div>
  </div>
  </div>
  </form>